.container {
    margin: 0 auto;
    width: 500px;
  }
  
  .title {
    padding: 0 20px;
  }
  
  .subTitle {
    margin-top: 30px;
    padding: 0 20px;
  }
  
  .contactListWrap {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .welcomeText {
    font-size: 56px;
    text-align: center;
  }  